*{
     margin: 0; 
     padding: 0;
}
body{
    background-image: url(../imges/f4.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}
.div1{
    
    width: 6%;
    height: 12%;
   
    background-image: url(../imges/f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation-name: circle;
    animation-duration:2s ;
    animation-fill-mode: forwards;
   
}
.div2{
    width: 6%;
    height: 12%;
   
    background-image: url(../imges/f3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation-name: circle1;
    animation-duration:2s ;
    animation-delay: 2s;
    animation-fill-mode: forwards;
     float: right; 
    /* margin-top: 5%; */
    
    
    
}
.div3{
    width: 6%;
    height: 12%;
  
   background-image: url(../imges/f2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    border-radius: 50%;
    animation-name: circle2;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
      margin-top:5.9%; 
    /* position: absolute;
     */
    
}
.div4{
    width: 6%;
    height: 12%;
    background-image: url(../imges/f3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation-name: circle3;
    animation-duration: 2s;
     margin-left: 90%;
    animation-delay:6s ;
    animation-fill-mode: forwards;
    float: right;
    /* margin-top: 7.3%;
       */
}
 
.div5{
    width: 6%;
    height: 12%;
     background-image: url(../imges/f2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    border-radius: 50%;
    animation-name: circle4;
    animation-duration:2s;
    margin-top: 5.9%; 
    position: absolute;
    animation-fill-mode: forwards;
    animation-delay:8s;
    
    
    
  
}
.div6{
    width: 6%;
    height: 12%;
    background-image: url(../imges/f3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation-name: circle5;
    animation-duration:2s ;
   float: right;
    animation-delay: 10s;
    margin-top: 5.9%; 
    animation-fill-mode: forwards;
  
    
}
.div7{
    width: 6%;
    height: 12%;
    background-image: url(../imges/f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation-name: circle6;
    animation-duration:2s ;
    margin-top: 17.7%; 
    animation-fill-mode: forwards;
    animation-delay: 12s;
  
    
    
    
}
.div8{
    width: 6%;
    height: 12%;
    background-image: url(../imges/f3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation-name: circle7;
    animation-duration:2s ;
     animation-fill-mode: forwards;
    float: right;
    animation-delay: 14s;
   
    
    
}
  @keyframes circle{
  
    50%{
        transform: rotate(360deg);
    }
        
    100%{
        
        background-color: rgb(50, 41, 59);
    margin-left: 94%;
} 
 }


@keyframes  circle2{
   
         50%{
        transform: rotate(360deg);
    }
        
        
    100%{
        
        background-color: rgb(50, 41, 59);
        margin-left: 94%;
}
}


@keyframes circle1{
    
    50%{
        transform: rotate(360deg);
    }
        
    100%{
        
        background-color: rgb(50, 41, 59);
        margin-right: 94%;
} 
}
 @keyframes circle3{
    
    50%{
        transform: rotate(360deg);
    }
        
    100%{
        
        background-color: rgb(50, 41, 59);
        margin-right: 94%;
} 
 } 
 @keyframes circle4{
    
    50%{
       transform: rotate(360deg);
    }
        
    100%{
        
        background-color: rgb(50, 41, 59);
        margin-left: 94%;
} 
 } 
 @keyframes circle5{
    50%{
       transform: rotate(360deg);
    }
        
    100%{
        
        background-color: rgb(50, 41, 59);
        margin-right: 94%;
} 
 } 
 @keyframes circle6{
    0%{
       
    }
    50%{
        transform: rotate(360deg);
    }
        
    100%{
        
        background-color: rgb(50, 41, 59);
        margin-left: 94%;
} 
 } 
 @keyframes circle7{
       
    
    50%{
        transform: rotate(360deg);
    }
        
    100%{
        
        background-color: rgb(50, 41, 59);
        margin-right: 94%;
} 
 } 